@model String;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/labels.css" />
    <link rel="stylesheet" href="~/css/custom-select.css" />
</head>
<body>

    <div class="entry">

        <header>
            <div id="apptitle">
                <h4>Barcode Labels</h4>
            </div>

            <div class="profile">
                <img src="~/img/barcode2.png" />
            </div>
        </header>

        <div id="errorLabel">@Model</div>

    </div>

</body>
</html>