@using LabelCastWeb.Models;
@using Newtonsoft.Json;
@model LabelStructure;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/siteIE8.css" />
    <link rel="stylesheet" href="~/css/labelsIE8.css" />
</head>
<body>
    <div class="entry">

        <div class="header">
            <div class="logogroup">
                <img src="~/img/barcode2.png" title="applogo" />
                <div class="logo">LabelCast</div>
            </div>
            <table id="apptitle">
                <tr>
                    <td class="heading">Data Entry</td>
                    <td class="heading">&nbsp;</td>
                </tr>
            </table>
        </div>

    </div>

    <script src="~/js/splashIE8.js"></script>

</body>
</html>