@using LabelCastWeb.Models;
@using Newtonsoft.Json;
@model String;
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/siteIE8.css" />
    <link rel="stylesheet" href="~/css/labelsIE8.css" />
</head>
<body>
    <!-- Splash screen page for IE6 browsers -->
    <div class="entry">
        <div class="header">
            <div class="logogroup">
                <img src="~/img/barcode2.png" title="applogo" />
                <div class="logo">LabelCast</div>
            </div>
            <table id="apptitle">
                <tr>
                    <td class="heading">Data Entry</td>
                    <td class="heading">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="msgLabel">@Model</div>
    </div>
    <script src="~/js/splashIE6.js"></script>
</body>
</html>